
/*Style for All*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


/*Style Body */

body{
text-align:center; 
background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.1)),url(images/aicte_banner.jpg); 
background-size:cover; 
display:flex;
flex-direction:column; 
justify-content:CENTER; 
position:relative; 


}


.header {
    display: flex;
    justify-content:space-between;
    padding: 1%;
    margin: 2px;

    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
    position: relative;
}

.header a{
    padding-left:2%;
}

.header a img{
    width:7.5vh; 
    border-radius:30px; 
    border:2px solid red;
}
.header a img h1{
    color: white; 
    font-size:40px;
}

.sbutton{
    padding:2px 2px;
    margin:0 2px;
}

.menu ul {

    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    display:flex;
    justify-content:space-around; 
    list-style-type:none;
    padding: 8px 12px;
    margin:  2% 0; 
    

}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;

}

.menu ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.close{
    left:93%; 
    display:none;
     margin-right:2%;
}

.menu ul li:hover::after {
    width: 100%;
}
.searchc{
    display: none;
}

@media screen and ( max-width:800px){
    .search{
        display:none;
    }
    .searchc{
        display:inline;
        color:white;
    }
   
    .menu{
        display:none;
       
        margin:10px;
        
   
    }
    .menu ul{
        display:flex;
        flex-direction: column;
        // background-color:grey;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
 
        
    }
    .menu li{
        padding:8px;
        margin:3px;
        //border:2px solid white;
        position:relative;
        top:2px;
        left:23px;
       
        
    }
    .menu ul li::after{
        background:none;
    }

    #mee{
        display:block;
        float : right; 
        margin-right:16px;

    }
    .mee1, .mee2, .mee3{
        display:block;
        width: 35px;
        height: 5px;
        background-color: rgb(18, 17, 17);
        margin: 6px 0;
    }
    body {
background-size:cover;
//background-repeat:no-repeat;
overflow-x: hidden;

    }
}

.mee{
    display:none;
    float:right;
}
#fbd{
    position:relative;
    right:18px;
}

.fb {
    background-color: transparent;
    width: 500px;
    height: 300px;
    perspective: 1000px;
    margin: 4%;


}

.fbi {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

.fb:hover .fbi {
    transform: rotateY(180deg);
}

.fbf,
.fbb {
    position: absolute;
    width: 100%;
    height: 100%; 
    backface-visibility: hidden;


}

.fbf {
    background-color: #bbb;
    color: black;
}

.fbb {
    background-color: white;
  //  background-color: lightblue;
    border: 3px solid green;
    color: white;
    width:100%;
    transform: rotateY(180deg);
}

.sup:hover {
    color: blue;
}

.fbb .sup {
    color:blue;
    text-align: center;
  background-color: orange;

}

input[type=submit] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 6px 10px;
    margin: 1px 0px;
    margin-top: 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.fbb input[type=submit]:hover {
    background-color: #45a049;


}

#fbd input[type="email password"] {
    width: 90%;
    height: 25px;
}




.fbb label {
    color: black;
    font-size: 120%;
}

legend {
    color: black;
    font-size: 110%;
}

/* #fbd {
    display: flex;
    justify-content: space-around;
    filter: contrast(70%);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

} */


@media screen and (max-width: 891px) {
    #fbd {

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .notices {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .notice-board {
        margin: 2% 0;
        width: 50%;
        height: 30pc;
    }
}

@media screen and (max-width: 1046px) {
    .fbb h1 {
        font-size: 30px;

    }
}

.news{
    display:flex; 
    align-items:center
}
.news p{
    background-color:red; 
    padding:9px; 
    color:#f1f1f1; 
    font-size:20px;
    
}
.news div{
    font-size:20px; 
    background-color:rgb(0, 157, 255); 
    padding:7px; 
    color:white;
}



h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {

    display: flex;
    justify-content: space-around;
    display: wrap;

}

.course-col {
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0.6;

    border: 2px solid white;
    border-radius: 10px;
    width: 50%;
    padding: 13% 10%;
    margin: 2%;

}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(242, 8, 8, 0.6);
    opacity: 1;


}





.companies {

    margin: 2% 0;
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    padding: 5px;
    box-sizing: border-box;


}
.companies::-webkit-scrollbar {
        display: none;
    
}

.c:hover {
    box-shadow: 0 0 20px 0px rgba(242, 8, 8, 0.6);
    opacity: 1;
    transition: 0.5s;


}

.c {

    border-radius: 10px;
    margin: 2%;
    border-radius: 10px;
    background-color: white;
    opacity: 0.7;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(images/washington.png);
    background-size: cover;
    color: white;
    box-sizing: border-box;
}





.sup {
    margin: 2px;
    padding: 0 40%;
    display: inline-block
}


.c p {
    color: #777;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;

    width: 400px;
    margin-top: 40px;


}

.c h2 {
    margin-top: 250px;
    background-color: #777;
    padding: 2px;


}

.c button {
    padding: 4% 6%;
    border: 1px solid red;
    border-radius: 10px;
    background-color: #f44336;
    margin-bottom: -60px;
    margin-top: 80px;

}

.poster {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
   
    box-sizing: border-box;
    transition: 0.5s;

}

.poster img {
    height: 100%;
    width: 100%;
    border-radius:10px; border:7px solid green; width:95%; margin-left:1%;
}

.f {
    background-color: rgba(128, 128, 128, 0.497);

}

.f p:hover {
    color: red;
}

#au {
    border: 1px solid #f1f1f1;
    padding-top: 5%;
    padding:5%; background-color:sandybrown; 
}

#au p {
    color: #f2f2f2;
    font-size: 18px;
}

#myfoot{
    padding:10% 40%; background-color:brown;
}
.copico{
color:white;
}




.register {  
    display:none;
    padding: 50px;  
  background-color:white;
  box-shadow:  0 0 20px 0px rgba(0, 0, 0, 0.9);
  position:absolute;
  z-index: 1;
  top:100px;
  margin:10%;
  border-radius:10px;
  transition-duration:0.7s ;
  text-align: left;
  border: 2px solid green;
}  
.register h1{
    align-content: center;
}
  

.register [type=text], textarea, .password, .register [type=number] ,[type=date] ,[type=password]{  
  width: 100%;  
  padding: 15px; 
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1; 
  border: 2px solid green;
  

}  
.registerbtn {  
  background-color: #3dfd40;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
}  
.registerbtn:hover {  
  opacity: 1;  
}  
 .close{
    color:white;
    border:2px solid black;
    background-color:red;
    display: inline-block;
    padding:0.5% 1%;
    border-radius: 60%;
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    opacity:0.7;
}
.close:hover{
    opacity:1;
}

